body {
    background-color: white!important;
}
.dk-row {
  -webkit-display: -webkit-box;
  -webkit-display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
}
.dk-box {
    width: 50%;
}
/* .dk-main-container {
    padding: 0rem!important;
}

.grid {
    padding: 0rem!important;
} */